@font-face {
  font-family: "shabnam";
  src: url("../fonts/Shabnam.ttf");
}

$mediumSize: 1200px;
$smallSize: 768px;
$digiRed: rgb(226, 51, 78);
$digiGray: rgb(118, 119, 121);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#background-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 94px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: black;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

img {
  -webkit-user-drag: none;
}

body {
  direction: rtl;
  font-family: "shabnam";
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  height: fit-content;
  box-shadow: rgba(36, 36, 66, 0.3) 0 2px 0 -1px;
  background-color: #fff;
  z-index: 2;

  nav {
    width: 100%;
    height: 100%;
    padding: 10px;

    .logo {
      width: 200px;
      float: right;

      img {
        width: 200px;
      }
    }

    .searchBar {
      background-color: rgb(243, 243, 243);
      margin-right: 15px;
      border-radius: 8px;
      height: 35px;
      width: 500px;
      float: right;
      padding: 2px 15px;
      margin-bottom: 10px;
      position: relative;
      img {
        height: 22px;
        margin-top: 5px;
        float: right;
      }

      p {
        color: $digiGray;
        float: right;
        margin-top: 8px;
        margin-right: 5px;
        font-size: 12px;
      }

      #search-modal {
        display: none;
        z-index: 3;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 300px;
        box-shadow: rgba(92, 92, 92, 0.16) 0px 1px 4px;
        background-color: white;
        border-radius: 8px;
        border: 1px solid rgba(134, 134, 134, 0.16);
        padding: 5px 10px;

        input {
          color: $digiGray;
          font-family: "shabnam";
          display: block;
          width: 98%;
          padding: 0 10px;
          height: 40px;
          margin: 0 auto;
          border: none;
          outline: none;
          border-bottom: 1px solid rgb(72, 177, 219);
        }
      }
    }

    .searchBar:hover {
      cursor: text;
    }

    .loginButton {
      width: 200px;
      float: left;

      button {
        width: 130px;
        height: 35px;
        background-color: white;
        border-radius: 6px;
        border: 1px solid rgb(228, 228, 228);
        font-size: 14px;
      }

      button:hover {
        cursor: pointer;
      }

      a:hover {
        cursor: pointer;
        opacity: 70%;
      }

      #cart {
        float: left;
        border-right: 1px solid rgb(228, 228, 228);
        width: 50px;
        text-align: center;

        img {
          margin-top: 5px;
          width: 25px;
        }
      }
    }

    #category-dropdown {
      display: none;
      z-index: 2;
      position: absolute;
      top: 94px;
      width: 700px;
      height: 400px;
      box-shadow: rgba(92, 92, 92, 0.16) 0px 1px 4px;
      background-color: white;
      border: 1px solid rgba(134, 134, 134, 0.16);
      padding: 5px 10px;
    }

    .category {
      width: 100%;
      height: 38px;
      padding: 0 10px;
      float: right;

      ul {
        list-style: none;
        display: flex;
        gap: 30px;
        font-size: 11px;
        li {
          position: relative;
          padding: 12px;
          a {
            padding: 10px 5px;
            color: $digiGray;
          }
        }

        li::before {
          content: "";
          position: absolute;
          background-color: $digiRed;
          width: 0;
          transition: width ease-out 0.15s;
          height: 2px;
          bottom: 0;
          right: 0;
        }

        li:hover::before {
          width: 100%;
        }

        li:first-child {
          font-size: 12px;
          padding-right: 0;

          a {
            color: black;
          }
        }
      }
    }
  }
}

.headBanner {
  max-width: 1920px;
  height: 320px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
  position: relative;

  .slideshow-img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .slideButtons {
    display: flex;
    z-index: 1;
    visibility: hidden;
    opacity: none;
    position: absolute;
    top: 80%;
    right: 5%;
    width: 90px;
    height: 50px;
    gap: 10px;
    transition: visibility ease-out 0.1s, opacity 0.2s ease-in-out;

    .buttonSlide {
      border-radius: 100%;
      border: 1px solid rgb(177, 177, 177);
      width: 35px;
      height: 35px;
      background-color: #fff;

      img {
        margin: 8px;
        width: 15px;
      }
    }
    .buttonSlide:hover {
      cursor: pointer;
    }
  }
}

.headBanner:hover {
  .slideButtons {
    visibility: visible;
    opacity: 1;
  }
}

.productOffer {
  position: relative;
  display: flex;
  width: 98%;
  height: 300px;
  background-color: $digiRed;
  margin: 20px auto;
  border-radius: 20px;
  padding: 15px 20px;
  gap: 50px;

  #logo {
    float: right;
    height: 100%;
    text-align: center;

    a {
      color: #fff;
    }

    a:hover {
      color: rgb(212, 212, 212);
    }

    img {
      width: 100px;
      margin: 50px auto;
      display: block;
    }
  }

  .buttonSlide {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border-radius: 100%;
    border: 1px solid rgb(158, 158, 158);
    width: 35px;
    height: 35px;
    background-color: #fff;
    top: 50%;
    right: 150px;
    transition: visibility ease-out 0.1s, opacity 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    img {
      margin: 8px;
      width: 15px;
    }
  }

  .buttonSlide:hover {
    cursor: pointer;
  }

  .left {
    left: 10px;
    right: inherit;
  }

  .product-items::-webkit-scrollbar {
    display: none;
  }

  .product-items {
    width: fit-content;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 5px;

    :first-child {
      border-radius: 0 10px 10px 0;
    }

    :last-child {
      border-radius: 10px 0 0 10px;
    }

    .item {
      flex-shrink: 0;
      padding: 10px;
      width: 160px;
      height: 100%;
      background-color: #fff;

      p {
        margin-top: 10px;
        color: $digiGray;
        font-size: 13px;
        margin-bottom: 20px;
      }

      h3 {
        margin-top: 5px;
        float: left;
        color: rgb(88, 88, 88);
        font-size: 13px;
      }

      span {
        background-color: $digiRed;
        border-radius: 20px;
        padding: 0 5px;
        font-size: 12px;
        color: #fff;
      }

      img {
        display: block;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.productOffer:hover {
  .buttonSlide {
    visibility: visible;
    opacity: 1;
  }
}

.offers {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  margin-bottom: 20px;

  .offer-card {
    img {
      border-radius: 20px;
      height: auto;
      width: 100%;
      display: inline-block;
    }
  }
}

.main-category {
  width: 100%;
  margin-top: 20px;
  h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }

  .category {
    margin: 40px auto;
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;

    .category-item {
      margin-bottom: 5px;
      a {
        display: block;
        width: 100px;

        p {
          font-size: 14px;
          text-align: center;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.suggested_products {
  width: 99%;
  display: grid;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid rgb(221, 221, 221);
  grid-auto-flow: column;

  .suggested_card {
    padding: 20px;
    border-left: 1px solid rgb(235, 235, 235);

    .suggested_card_title {
      width: 100%;

      h2 {
        font-size: 16px;
        color: rgb(48, 48, 48);
        margin-bottom: 5px;
      }
      p {
        color: rgb(139, 139, 139);
        font-size: 12px;
        width: 100%;
      }
    }

    .suggested_card_items {
      width: 100%;
      grid-template-areas:
        "auto auto"
        "auto auto";
      display: grid;

      a {
        padding: 10px;
        display: block;

        img {
          width: 100%;
        }
      }

      a:hover {
        img {
          opacity: 80%;
        }
      }
    }

    #show {
      color: rgb(38, 190, 183);
      display: block;
      font-size: 13px;
      text-align: center;
    }
  }

  .suggested_card:last-of-type {
    border: none;
  }
}

.best-sellers {
  width: 99%;
  max-width: 1920px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 20px;
  padding: 20px 0;
  margin: 20px auto;
  span {
    h2 {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
    }

    a {
      color: rgb(38, 190, 183);
      text-align: left;
      margin-left: 20px;
      display: block;
    }
  }

  .best-sellers-list {
    margin: 40px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;

    .best-sellers-item {
      width: 280px;
      margin-bottom: 50px;
      a {
        width: 100%;
        height: 100%;
        h2 {
          float: right;
          color: rgb(38, 190, 183);
          margin-top: 30px;
          margin-left: 10px;
        }
        p {
          color: $digiGray;
          margin-top: 30px;
          width: 150px;

          font-size: 13px;
          float: right;
        }
        img {
          width: 90px;
          float: right;
        }
      }
    }
  }
}

.articles {
  width: 100%;
  margin: 50px auto;
  max-width: 1920px;

  h2 {
    font-size: 17px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .articles-list {
    display: flex;
    justify-content: space-around;

    .article-card {
      height: 270px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 10px;
      overflow: hidden;
      width: 320px;
      img {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
      }

      p {
        height: 70px;
        line-height: 25px;
        width: 100%;
        padding: 5px 10px;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: $mediumSize) {
  #background-overlay {
    margin-top: 6px;
  }

  header {
    nav {
      padding: 0 20px;
      .logo {
        display: none;
      }

      .loginButton {
        display: none;
      }

      .category {
        display: none;
      }

      .searchBar {
        width: 100%;
        height: 35px;
        margin: 20px auto;
        border-radius: 25px;
        padding: 2px 20px;

        img {
          height: 80%;
        }

        p {
          font-size: 1.1rem;
          margin-top: 5px;
          margin-right: 12px;
        }
      }
    }
  }

  .headBanner {
    height: 300px;

    .slideshow-img {
      height: 100%;
      object-fit: cover;
    }

    .slideButtons {
      z-index: 2;
      top: 80%;
    }
  }

  .productOffer {
    display: block;
    overflow: hidden;
    width: 98%;
    height: 290px;
    margin: 20px auto;
    padding: 5px 10px;

    #logo {
      float: right;
      width: 100%;
      height: 40px;
      text-align: center;

      a {
        line-height: 2;
      }

      img {
        display: none;
      }
    }

    .buttonSlide {
      position: absolute;
      top: 50%;
      right: 5px;
    }

    .left {
      left: 10px;
      right: inherit;
    }

    .product-items {
      margin: 0 auto;
      width: 100%;
      height: 230px;
      display: flex;
      gap: 5px;

      .item {
        width: 150px;
        height: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  .offers {
    flex-wrap: wrap;

    .offer-card {
      width: 48%;
    }
  }

  .main-category {
    h2 {
      font-size: 16px;
    }
    .category {
      padding: 10px 50px;
      overflow-x: scroll;
      grid-template-columns: auto auto auto auto auto auto;
      justify-content: space-between;
      scrollbar-width: none;

      .category-item {
        a {
          width: 70px;
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  .suggested_products {
    width: 95%;
    margin: 0 auto;
    grid-auto-flow: row;
    margin-bottom: 50px;
    .suggested_card {
      border: none;
      border-bottom: 1px solid rgb(235, 235, 235);
    }
  }

  .best-sellers {
    width: 95%;
    span {
      h2 {
        margin-right: 20px;
        font-size: 16px;
        text-align: right;
      }
    }

    .best-sellers-list {
      overflow-x: scroll;
      scrollbar-width: none;
    }
  }

  .articles {
    width: 95%;

    .articles-list {
      flex-wrap: wrap;

      .article-card {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        margin-bottom: 20px;

        img {
          height: auto;
        }

        p {
          height: 100%;
          line-height: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: $smallSize) {
}
